<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add Item</title>
</head>
<body>
    <table>
    <thead>
 <th>Id</th>
<th><b>Project Code</b></th>
<th><b>Project Name</b></th>
<th><b>Insert Date</b></th>
</thead>
   <th:block th:each="project : ${projeListesi}">
      <tr>
         <td th:text="${project.projectCode}">Code</td>
         <td th:text="${project.projectName}">Name</td>
          <td><a href="editproject/${project.id}">Detail</a></td>
      </tr>
   </th:block>
</table>
</body>
</html>